

.cat5-collections {
	background: #efefef;

	@media (max-width: 991px) {
		padding: 0 !important;
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px;

		@media (max-width: 991px) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: start;

		@media (max-width: 991px) {
			flex: none;
			width: 100%;
			padding: 48px 0;
		}

		@media (max-width: 767px) {

		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		max-width: 498px;
		margin-bottom: auto;

		@media (max-width: 767px) {
			gap: 6px;
			margin-bottom: 24px;
		}
	}

	&__tag {
		display: inline-block;
		border: 1.50px solid #cacaca;
		padding: 11px 14px;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 20px;
		line-height: 100%;
		color: #161616;
		text-transform: uppercase;
		text-decoration: none;
		transition: border-color 0.2s, background 0.2s;

		&:hover {
			border-color: #161616;
		}

		&.is-active {
			border-color: #161616;
		}

		@media (max-width: 991px) {
			font-size: 16px;
		}
	}


	&__right {
		flex: 1;
		position: relative;
		min-height: 668px;
		overflow: hidden;
		transition: opacity 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;

		&.is-loading {
			opacity: 0.6;
		}

		@media (max-width: 991px) {
			min-height: 500px;
			padding: 42px 32px;
			margin: 0 -32px;
		}

		@media (max-width: 767px) {
			margin: 0 -12px;
		}
	}

	&__photo {
		position: absolute;
		inset: 0;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.product-card {
		position: absolute;
		z-index: 1;
		background: #fff;
		width: 292px;
		padding: 12px;

		.product-card__wish {
			top: 0;
			right: 0;
		}
	}
}
