.catalog-section {

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 56px;
        line-height: 100%;
        color: #161616;
        margin: 0 0 48px;

        @media (max-width: 991px) {
            font-size: 42px;
            margin-bottom: 32px;
        }
    }

    &__desktop {
        align-items: stretch;
        gap: 12px;

        @media (max-width: 991px) {

        }
    }

    &__left {
        flex: 0 0 calc(50% - 6px);
        display: flex;
        flex-direction: column;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
    }

    &__item:last-child &__link{
        border-bottom: 1px solid #e0e0e0;
    }

    &__item:hover {
        .catalog-section__link {
            border-color: #161616;
        }
        & + .catalog-section__item .catalog-section__link{
            border-color: #161616;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #161616;
        transition: all 0.3s;
        border-top: 1.50px solid #dfdfdf;
        text-decoration: none;

        &:hover,
        &.is-active {
            color: #161616;

            .catalog-section__chevron { opacity: 1; }
        }
    }

    &__chevron {
        opacity: 0;
        flex-shrink: 0;
        transition: opacity 0.15s;
    }

    &__preview {
        flex: 0 0 calc(50% - 6px);
        background: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 682px;
    }

    &__preview-img {
        max-width: 440px;
        max-height: 440px;
        width: 80%;
        object-fit: contain;
        transition: opacity 0.2s;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px 12px;

        @media (max-width: 767px) { grid-template-columns: 1fr; }
    }

    &__card {
        display: flex;
        gap: 2px;
        text-decoration: none;

        &:hover { }

        @media (max-width: 767px) {

        }
    }

    &__card-name {
        background: #f5f5f5;
        padding: 16px 8px 16px 16px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #161616;
        flex: 1 1 auto;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #f5f5f5;
    }

    &__card-icon {
        width: 44px;
        height: 44px;
        object-fit: contain;
        flex-shrink: 0;

    }
}
