.dlya_dis_section {

    @media (max-width: 991px) {
        padding-top: 0 !important;
    }

    &__images {
        display: grid;
        grid-template-columns: 1fr 0.55fr 0.47fr;
        align-items: start;
        gap: 4px;

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
            gap: 0;
        }
    }

    &__img {
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            display: block;
        }

        &--main img { height: 296px; }
        &--mid  img { height: 400px; }
        &--sm   img { height: 216px; }
    }

    &__content {
        padding: 12px 0 0;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 56px;
        line-height: 100%;
        color: #161616;
        margin: 0 0 24px;
        max-width: 700px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 40px;
    }

    &__desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #161616;
        margin: 0;
        max-width: 700px;
    }

    @media (max-width: 991px) {

        &__img--main {
            margin: 0 -32px;

            img { height: 300px; }
        }

        &__content { padding: 40px 0 0; }

        &__title {
            font-size: 42px;
            margin-bottom: 20px;
        }

        &__bottom {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        &__desc { max-width: 100%;  font-size: 16px; }
    }

    @media (max-width: 767px) {

        &__img--main {
            margin: 0 -12px;
            img { height: 370px; }
        }

        &__content { padding: 24px 0 0; }

        &__title {

        }

        &__desc { font-size: 16px; }
    }
}
