.popular-section {

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        -webkit-text-stroke: 1px #161616;
        font-size: 56px;
        line-height: 100%;
        color: #161616;
        margin: 0;

        @media (max-width: 991px) { font-size:42px; }
    }

    &__controls {
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
    }

    &__swiper {

    }

    .swiper-slide {
        height: auto;
        display: flex;

        @media all and (max-width: 991px){
            width: 268px;
        }

    }

    .product-card { width: 100%; }

    .popular-section__swiper {
        @media all and (max-width: 991px){
            margin: 0 -32px 12px 0;
            padding: 0 32px 0 0;
        }

        @media all and (max-width: 767px){
            margin: 0 -12px 0 0;
            padding: 0 12px 0 0;
        }
    }

    .swiper-pagination {
        margin: 12px 0 32px;
        background: #f5f5f5;
        display: none;
        height: 2px;

        .swiper-pagination-bullet {
            height: 2px;
            width: auto;
            margin: 0;
            flex: 1 1 auto;
            background: none;
            opacity: 1;
            border: none;

            &.swiper-pagination-bullet-active {
                background: #161616;
            }
        }

        @media all and (max-width: 991px) {
            display: flex;
        }
    }
}
